<section class="bannerSection">
  <div class="bannerSection-content">
          <h5 class="title">Introduction</h5>
          <h1 class="quote"> Your strategy is only as good as you execute it<span>.</span></h1>
  </div>
</section>