extends _layouts/layoutPage2

block append vars
  - title = $translator.home ? $translator.home.title : "Page2";

block container
  .page-container
  include ./$components/page2/bannerSection2
  include ./$components/page2/ArtSection
  include ./$components/page2/POASection
