<footer class="footer">
    <div class="footer-container">
      <div class="footer-logoInfor">
          <div class="footer-logoInfor-logo">
            +link('index.html', 'Lecle Viet Nam')
              +img("images/logoFinalcial.png","logoFooter")
          </div>
          <div class="footer-logoInfor-info">
            <p>+1-234-567-890</p>
            <p>Rockefeller PlazaNew York, NY 10112</p>
          </div>
      </div>
      <div class="footer-link">
          <div class="footer-link-learnMore">
              <h4 class="footer-link-title">Learn More</h4>
              <ul class="footer-link-list">
                  li: +link('#', 'How it work').listItem
                  li: +link('#', 'Who we are').listItem
                  li: +link('#', 'Careers').listItem
                  li: +link('#', 'Blog').listItem
                  li: +link('#', 'FAQs').listItem
              </ul>
          </div>
          <div class="footer-link-social">
              <h4 class="footer-link-title">Social</h4>
              <ul class="footer-link-list">
                  li: +link('#', 'Facebook').listItem
                  li: +link('#', 'Instagram').listItem
                  li: +link('#', 'Twitter').listItem
                  li: +link('#', 'Pinterest').listItem
                  li: +link('#', 'Linkedin').listItem
              </ul>
          </div>
      </div>
      <div class="footer-download">
        <h4 class="footer-download-title">Downloads</h4>
        <div class="footer-download-btn">
              +link('index.html', 'Lecle Viet Nam')
                +img("images/ggPlay.svg","Google Play")
              +link('index.html', 'Lecle Viet Nam')
                +img("images/appStore.svg","App Store")
        </div>
      </div>
    </div>
    <div class="footer-line">
        <span></span>
    </div>
    <div class="footer-coppyRight">
      <p>Copyright © 2020 Company Name All rights reserved<p>
      <ul class="footer-coppyRight-list">
        li: +link('#', 'Term of Use').listItem
        li: +link('#', 'Privacy Police').listItem
        li: +link('#', 'Cardholder Agreement').listItem
      </ul>
    </div>
</footer>
