<header class="header">
      <div class="header-wrapper">
        <div class="header-left">
        <div class="header-left-moreBtn">
          +img("images/moreBtn.png","moreBtn")
        </div>
        <div class="header-left-logo">
          +img("images/logoFinalcial.png","logo")
        </div>
          
        </div>
        <div class="header-right">
            <div class="header-right-link">        
                +link('#','Home').linkItem
                +link('#','Explore').linkItem
            </div>
            <a href="#" class="header-right-startedBtn">Get Started
                +img("images/iconRight.png","right")
            </a>
        </div>
      </div>
</header>
