<section class="bannerSection2">
  <div class="bannerSection2-content">
          <h5 class="title">Labor dispatch</h5>
          <h2 class="quote">Large Enterprise Solutions</h2>
          <span></span>
  </div>
</section>