<section class="POASection">
    <div class="POASection-prob">
        <div class="POASection-title">
            <h2 class="POASection-title-main">Does your business have the following problems<span>.<span></h2>
            <h4 class="POASection-title-sub">short introduction</h4>
        </div>
        <div class="POASection-list">
            +cardPOA("Problem","images/Prob1.png","Lack of benefits and poor incentives for employees")
            +cardPOA("Problem","images/Prob2.png","Lack of benefits and poor incentives for employees")
            +cardPOA("Problem","images/Prob3.png","Lack of benefits and poor incentives for employees")
            +cardPOA("Problem","images/Prob4.png","Lack of benefits and poor incentives for employees")   
        </div>
    </div>

    <div class="POASection-advan">
        <div class="POASection-title">
            <h2 class="POASection-title-main">Our advantage<span>.<span></h2>
            <h4 class="POASection-title-sub">short introduction</h4>
        </div>
         <div class="POASection-list">
            +cardPOA("Advantage","images/Advan1.png","The handling process is too complicated.")
            +cardPOA("Advantage","images/Advan2.png","The handling process is too complicated.")
            +cardPOA("Advantage","images/Advan3.png","The handling process is too complicated.")
            +cardPOA("Advantage","images/Advan4.png","The handling process is too complicated.")  
            +cardPOA("Advantage","images/Advan5.png","The handling process is too complicated.")  
            +cardPOA("Advantage","images/Advan6.png","The handling process is too complicated.")         
        </div>
    </div>
</section>