<section class="bannerSection">
  <div class="bannerSection-content">
      //- +img("images/maskImg.png","overlay").bannerSection-content-img
      <div class="bannerSection-content-text">
          <h5 class="title">Introduction</h5>
          <h2 class="quote"> Your strategy is only as good as you execute it.</h2>
      </div>
  </div>
</section>