<section class="SOWSection">
    <div class="SOWSection-title">
    <h2 class="SOWSection-title-main">Our strengths versus our peers' weaknesses<span>.<span></h2>
    <h4 class="SOWSection-title-sub">short introduction</h4>
    </div>
    <div class="SOWSection-listCheck">
        <div class="SOWSection-listCheck-grey">
            +cardCheck("no","The handling process is too complicated.")
            +cardCheck("no","The handling process is too complicated.")
            +cardCheck("no","The handling process is too complicated.")
            +cardCheck("no","The handling process is too complicated.")
        </div>

        <div class="SOWSection-listCheck-compareSection">
            <p>our peers' weaknesses.</p>
            <p>VS</p>
            <p>Our strengths</p>
        </div>
        <div class="SOWSection-listCheck-orange">
            +cardCheck("yes","The handling process is too complicated.")
            +cardCheck("yes","The handling process is too complicated.")
            +cardCheck("yes","The handling process is too complicated.")
            +cardCheck("yes","The handling process is too complicated.")
        </div>
        
    </div>
</section>